@import url(https://fonts.googleapis.com/css?family=Inconsolata);

a:hover,
a:visited,
a:active,
a:link {
    color: inherit;
    text-decoration: inherit;
    
}

header {
    text-align: center;
}

h1 {
    font-weight: 100;
    font-size: 2em;
    width: auto;

}

h2 {
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    width: auto;
    display: inline;
    color: #ff1868;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.row {
    padding-bottom: 6px;
}

.row-ident-border {
    border-left: 1px solid #777;
}

.row-pd-object {
    padding-bottom: 19px;
}

.mostach {
    color: #ff1868;
    font-weight: 600;
}


.propiedad {
   /*  background-color: #000; */
   color:rgb(165, 176, 177) !important;
}

.project {
    /* #fddb00 */
     color: rgb(1, 209, 220) !important;
 }

.titulo {
    color: #31D843;
        margin-left: -39px;
        margin-bottom: 27px;
}

.name {
color: #555 !important;
padding-left:96px;
font-weight: 100;
font-size: 40px;
text-align: center;
padding-top: 7px;
}

.menu-title { 
    color: rgb(155, 153, 153);
    padding: 0px 0px 20px 0px;
    margin-top: -30px; 
    
}


.parr-content {
    margin-top: 40px;
    padding-left: 20px;
}

.description {
    max-width: 500px;;
}

.menu-container {
    background-color: #152445f7;
    height: 80vh;
    border-radius: 18px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.19), 0 10px 9px 0 rgba(0, 0, 0, 0.19);
    padding: 37px 0px 0px 85px;
    min-width: 460px; 
    min-height: 568px;
    max-height: 521px;
    max-width: 426px;

}

.text-shadow {
    text-shadow: 2px 2px 4px #7574747a;
    margin-bottom: 20px;
}


html {
    padding: 0;
    margin: 0;
    color: #555;
    font-family: "SF Mono Regular", "Source Code Pro", "Inconsolata", "Monaco", monospace;
    font-size: 17px;
}

body {
    font-family: 'Inconsolata', sans-serif !important;
    color: rgb(84, 104, 105);
    background-color: #ffffff;
}



.text {
    color: rgb(182, 234, 236);
    font-size: 20px !important;
    padding: 2em;
    line-height: 1.8em;
}

.grilla {
    /* margin-top: 10%; */
    height: 100vh;
}


.corchete{
    color: #dc7604;
    font-weight: 600;
}



.container {
    margin-left: auto;
    margin-right: auto;
}

.blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
    font-weight: 900;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #31D843;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #31D843;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #31D843;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #ff1868;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #09f;
  }
}

/* Modals */

.img-modal-container {
    margin-bottom: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.19), 0 10px 9px 0 rgba(0, 0, 0, 0.19);
}

#npm-icon {
    text-align: center;
    font-size: 80px !important;
}

#nodejs {
    background-color: #31D843;
    color: white;
}
/* code values */

#vanilla {
    color:  #d5bf30 !important;
}



#trans-lab {
color:  rgb(0, 0, 0) !important;
background-color: rgb(63, 188, 195);;
}

#navigation {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}

#navigation ul {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#navigation ul li {
    display: inline-block;
    padding: .4em;
}

#navigation ul li:hover {
    color: #09f;
}

.content {
    font-size: 1.2em;
    padding: 2em;
    line-height: 1.8em;
}

#about {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#about a:link,
#about a:hover,
#abouta:active,
#about a:visited {
    background-color: #555;
    color: white;
    padding: .2em;
}

#home a:link,
#home a:active,
#home a:visited {
    color: white;
}

#home a:hover {
    opacity: 0.6;
    background-color: red;

}



/* Link Styles */

#developer {
    font-size: 23px !important;
    color: #d3d3d3 !important;
}

#laboratoria {
    background-color: #ffe100;
    color: rgb(255, 255, 255);
}

#soundtrap {
    background-color: #e881e5;
    color: white;
}

#blog {
    background-color: #F6F2F1 !important;
    color: #dc7604 !important;
}

#weeklylinks {
    background-color: #eeeeee !important;
    color: #09f !important;
}

#celeste {
    background-color: #1DA1F2 !important;
    color: #fff !important;
}

#instagram {
    background-color: #ff1868 !important;
    color: #fff !important;
}

#programacion {
    background-color: #003c78 !important;
    color: #fddb00 !important;

}
#px {
    background-color: #000 !important;
    color: #fff !important;
}

#artist {
    color: rgb(239, 255, 21) !important; 
    background-color: #331832 !important;
}

#youtube {
    background-color: red !important;
    color: #fff !important;
}

#cmd {
    color: #78DDE2 !important;
}

#trans {
    color: #be3e85 !important;
}

#ph {
    background-color: #fa5619 !important;
    color: #fff !important;
}


.red {
    color: red;
}

#work {
    text-align: center;
}

.workitem {
    overflow: none;
    max-width: 400px;
    display:inline-block;
    padding: 20px;
    vertical-align: top;

}

.workitem meta {

}

#workitemimg {
    height: auto;
    width: auto;

    max-height: 200px;
    max-width: 600px;
    max-width: 100%;
    border-radius: 3px;
}

