@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body{
    padding: 4% 0% 0% 0%;
    font-family: 'Inconsolata', sans-serif !important;
    color: rgb(84, 104, 105);
    background-color: #ffffff;
}
a:hover,
a:visited,
a:active,
a:link {
    color: inherit;
    text-decoration: inherit;
    
}

header {
    text-align: center;
}

h1 {
    font-weight: 100;
    font-size: 2em;


}

h2 {
    font-weight: 600;
    font-size: 1em;
    text-align: center;

    display: inline;
    color: #ff1868;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.description-mobile{
    display: none;
    color: #ff6d6d;
    font-weight: 600;
    margin-bottom: 42px;
}

.coment {
    color: #8d8d8d;
}

.instruction-comment{
    margin-left: -12px;
    margin-bottom: 22px;
    color: #7fffd4a8;
}

.row-ident-border {
    border-left: 1px solid #777;
} 

.menu {
    padding-left: 29px;
}

.row-pd-object {
    padding-bottom: 7px;
}

.mostach {
    color: #ff1868;
    font-weight: 600;
}


.propiedad {
   /*  background-color: #000; */
   color:rgb(165, 176, 177) !important;
}

.project {
    /* #fddb00 */
     color: rgb(1, 209, 220) !important;
 }

.titulo {
    color: #31D843;
    margin-bottom: 29px;
    padding-top: 12px;
    /* margin-left: -7px; */
}

.name {
    padding: 34px;
    text-align: center;
    font-size: 36px;
    color: #7a7476;
}

.menu-title { 
    color: rgb(155, 153, 153);
    padding: 0px 0px 20px 0px;
    margin-top: -30px; 
    
}

.parr-content {
    padding-left: 20px;
}


.description {
    max-width: 500px;
    padding-left: 28px;
}

.menu-container {
    background-color: #152445f7;
    border-radius: 18px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.19), 0 10px 9px 0 rgba(0, 0, 0, 0.19);
    padding: 2% 5%;
    min-height: 573px;
    min-width: 456px;
}

.text-shadow {
    text-shadow: 2px 2px 4px #7574747a;
    margin-bottom: 20px;
}


html {
    padding: 0;
    margin: 0;
    color: #555;
    font-family: "SF Mono Regular", "Source Code Pro", "Inconsolata", "Monaco", monospace;
    font-size: 17px;
}

.text {
    color: rgb(182, 234, 236);
    font-size: 20px !important;
    padding: 2em;
    line-height: 1.8em;
}

.grilla {
    /* margin-top: 10%; */
    height: 100vh;
}


.corchete{
    color: #dc7604;
    font-weight: 600;
}



.container {
    margin-left: auto;
    margin-right: auto;
}

.blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
    font-weight: 900;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #31D843;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #31D843;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #31D843;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #ff1868;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #09f;
  }
}

/* Modals */

.fa-angular {
    color: red;
    font-size: 73px;
}

.welcome {
    color: #429fa8;
}

.logo {
    max-height: 30px ;
    margin: 0 8px
}

.img-modal-container {
    margin-bottom: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.19), 0 10px 9px 0 rgba(0, 0, 0, 0.19);
}

.logo-fire {
    max-height: 60px ;
    margin: 0 8px
}

#npm-icon {
    text-align: center;
    font-size: 80px !important;
}

#nodejs {
    background-color: #31D843;
    color: white;
}

#angular {
    background-color: red;
    color: white;
}

#firebase {
    background-color: #f6820c;
    color: white;
}
/* code values */

#vanilla {
    color:  #d5bf30 !important;
}



#trans-lab {
color:  rgb(0, 0, 0) !important;
background-color: rgb(63, 188, 195);;
}

#navigation {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}

#navigation ul {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#navigation ul li {
    display: inline-block;
    padding: .4em;
}

#navigation ul li:hover {
    color: #09f;
}

.content {
    font-size: 1.2em;
    padding: 2em;
    line-height: 1.8em;
}

#about {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#about a:link,
#about a:hover,
#abouta:active,
#about a:visited {
    background-color: #555;
    color: white;
    padding: .2em;
}

#home a:link,
#home a:active,
#home a:visited {
    color: white;
}

#home a:hover {
    opacity: 0.6;
    background-color: red;

}



/* Link Styles */

#developer {
    font-size: 23px !important;
    color: #d3d3d3 !important;
}

#laboratoria {
    background-color: #ffe100;
    color: rgb(255, 255, 255);
}

#soundtrap {
    background-color: #e881e5;
    color: white;
}

#blog {
    background-color: #F6F2F1 !important;
    color: #dc7604 !important;
}

#weeklylinks {
    background-color: #eeeeee !important;
    color: #09f !important;
}

#celeste {
    background-color: #1DA1F2 !important;
    color: #fff !important;
}

#instagram {
    background-color: #ff1868 !important;
    color: #fff !important;
}

#programacion {
    background-color: #003c78 !important;
    color: #fddb00 !important;

}
#px {
    background-color: #000 !important;
    color: #fff !important;
}

#artist {
    color: rgb(239, 255, 21) !important; 
    background-color: #331832 !important;
}

#youtube {
    background-color: red !important;
    color: #fff !important;
}

#cmd {
    color: #78DDE2 !important;
}

#trans {
    color: #be3e85 !important;
}

#ph {
    background-color: #fa5619 !important;
    color: #fff !important;
}


.red {
    color: red;
}

#work {
    text-align: center;
}

.workitem {
    overflow: none;
    max-width: 400px;
    display:inline-block;
    padding: 20px;
    vertical-align: top;

}

#workitemimg {
    height: auto;
    width: auto;

    max-height: 200px;
    max-width: 600px;
    max-width: 100%;
    border-radius: 3px;
}

@media (max-width: 995px) {
	.description {
        display: none;
    }
    .description-mobile{
        display: block;
    }
    #laboratoria, #instagram{
        color: #152445 !important;
    }
    .menu-container{
        min-height: 630px;
        background-color: #25385f;
    }
}

@media (max-width: 579px) {
	body {
        background-color: #25385f;
    }
}


@media (max-width: 579px) {
	.menu-container {
        box-shadow: 0 0 0 0;
        background-size: auto;
    }
}

@media (max-width: 400px) {
	.row-ident-border {
        border-left: 0;
    }
    .menu-container {
        min-width: 0;
    }
}
@media (max-width: 420px) {
	
    .menu-container {
        min-width: 0;
    }
}


