@import url(https://fonts.googleapis.com/css?family=Inconsolata);


.name {
color: rgb(255, 156, 7) !important;
}

.color {
    height: 50px;
    padding: 40px;
}

.color2 {
    background-color: #331832;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.19), 0 10px 9px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
}

.text-shadow {
    text-shadow: 2px 2px 4px #7574747a;
    margin-bottom: 20px;
}


html {
    padding: 0;
    margin: 0;
    color: #555;
    font-family: "SF Mono Regular", "Source Code Pro", "Inconsolata", "Monaco", monospace;
    font-size: 17px;
}

body {
    font-family: 'Inconsolata', sans-serif !important;
    color: rgb(84, 104, 105);
    background-color: #ffffff;
}

.text {
    color: rgb(182, 234, 236);
    font-size: 20px !important;
    padding: 2em;
    line-height: 1.8em;
}

.grilla {
    /* margin-top: 10%; */
    height: 100vh;
}


.corchete{
    color: #dc7604;
}

.propiedad {
    color: rgb(165, 176, 177);
    margin-left: 30px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.header-space {
    margin-top: 50px;

}

a:hover,
a:visited,
a:active,
a:link {
    color: inherit;
    text-decoration: inherit;
    
}

header {
    text-align: center;
}

h1 {
    font-weight: 100;
    font-size: 2em;
    width: auto;
    color: #31D843;

}

h2 {
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    width: auto;
    display: inline;
    color: #ff1868;
}

h3 {
    font-weight: 200;
    font-size: 1.em;2
    text-align: left;
    background-color: black;
    color: white;
    margin-bottom: 0;
    width: auto;
    padding: 0.2em;
    display: inline-block;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.title {
}

.blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #31D843;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #31D843;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #31D843;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #ff1868;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #09f;
  }
}

#navigation {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}

#navigation ul {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#navigation ul li {
    display: inline-block;
    padding: .4em;
}

#navigation ul li:hover {
    color: #09f;
}

.content {
    font-size: 1.2em;
    padding: 2em;
    line-height: 1.8em;
}

#about {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#about a:link,
#about a:hover,
#abouta:active,
#about a:visited {
    background-color: #555;
    color: white;
    padding: .2em;
}




#home {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#home a:link,
#home a:hover,
#home a:active,
#home a:visited {
    background-color: red;
    color: white;
    padding: .2em;
}

#home a:hover {
    opacity: 0.6;
}



/* Link Styles */

#developColor {
    color: #31D843   !important;
    background-color: #000 !important;
}

#blog {
    background-color: #F6F2F1 !important;
    color: #dc7604 !important;
}

#weeklylinks {
    background-color: #eeeeee !important;
    color: #09f !important;
}

#twitter {
    background-color: #1DA1F2 !important;
    color: #fff !important;
}

#instagram {
    background-color: #ff1868 !important;
    color: #fff !important;
}

#pretty {
    background-color: #003c78 !important;
    color: #fddb00 !important;

}
#px {
    background-color: #000 !important;
    color: #fff !important;
}

#artist {
    color: rgb(239, 255, 21) !important; 
    background-color: #331832 !important;
}

#youtube {
    background-color: red !important;
    color: #fff !important;
}

#cmd {
    color: #78DDE2 !important;
}

#trans {
    color: #be3e85 !important;
}

#ph {
    background-color: #fa5619 !important;
    color: #fff !important;
}


.red {
    color: red;
}

#work {
    text-align: center;
}

.workitem {
    overflow: none;
    max-width: 400px;
    display:inline-block;
    padding: 20px;
    vertical-align: top;

}

.workitem meta {

}

#workitemimg {
    height: auto;
    width: auto;

    max-height: 200px;
    max-width: 600px;
    max-width: 100%;
    border-radius: 3px;
}

